<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="site">
    <div class="site__wrapper">
      <header class="site__header">
        <h1>NodeORM</h1>
      </header>

      <main class="site__main">
        {{{ body }}}
      </main>
    </div>
  </body>
</html>
